PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bimble_revamp
DB_USER=postgres
DB_PASS=yourpassword
DATABASE_URL=postgres://postgres:yourpassword@localhost:5432/bimble_revamp #prod

# JWT
JWT_SECRET=your_jwt_secret_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id

# Xendit (Multi-Payment: OVO, GoPay, DANA, ShopeePay, QRIS)
XENDIT_API_KEY=your_xendit_api_key
XENDIT_VERIFICATION_TOKEN=your_xendit_verification_token
CLIENT_URL=http://localhost:5173

# Email (Nodemailer)
GMAIL_USER=your_gmail@gmail.com
GMAIL_PASS=your_gmail_app_password

# ImageKit
IMAGE_KIT_KEY=your_imagekit_private_key
